// GENERAL ##################

@import 'mixins';

* {
  box-sizing: border-box;
}

body {
  // @include flex-center;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}



// BUTTON ##################

.previous-button, .next-button {
  @include flex-center;
  height: 40px;
  width: auto;
  top: 30px;
  position: absolute;
  background-color: rgba(255,255,255,0.25);
  border: 2px solid rgba(255,255,255,0.25);
  padding: 10px 15px;
  transition: all 200ms ease-in;

  a {
    @include font-main;
    font-weight: 400;
    color: white;
    text-decoration: none;
  }

  &:hover {
    background-color: rgba(255,255,255,0.75);
    border: 2px solid rgba(230,80,5,0.85);
    transition: all 200ms ease-in;

    a {
      color: rgba(230,80,5,0.7);
      transition: all 200ms ease-in;
    }
  }
}

.previous-button {
  left: 20px;
}

.next-button {
  right: 20px;
}



// TWELVE COLUMN GRID SECTION ##################

.twelve-column-grid {
  padding: 50px 0;
  width: 100%;
  background: linear-gradient(105deg, #CB1830, #E85500);

  section {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
  }
}

section {
  .section-header {
    @include font-main;
    font-weight: 700;
    text-align: center;

    background: -webkit-linear-gradient(90deg, #E85500, #CB1830);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 2px rgba(255,255,255,0.15);
    -webkit-text-stroke: 1.5px rgba(255,255,255,0.25);

    font-size: 3em;
    letter-spacing: 2px;

    margin: 20px auto;
    width: 80%;
  }

  .column {
    @include flex-center;
    @include font-main;

    margin: 10px 5px;;
    padding: 5px 20px;
    background-color: rgba(255,255,255,0.3);
    border: 2px solid rgba(255,255,255,0.25);
    color: white;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
  }
}

.first-section {
  .column {
    &:first-of-type {
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 99px;
    }
  }
}

.sixth-section {
  .column {
    &:nth-of-type(2) {
      flex: 4 4 198px;
    }
  }
}



// CALENDAR SECTION ##################

.calendar {
  padding: 50px 0;
  width: 100%;
  background: linear-gradient(-75deg, #00796B, #1565C0);

  .section-header {
    background: -webkit-linear-gradient(105deg, #00796B, #1565C0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
  }
}

.month {
  max-width: 900px;
  margin: 10px auto;
}

.week {
  @include font-main;
  display: flex;
  color: white;
}

.day {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

  height: 130px;
  padding: 10px;

  background-color: rgba(255,255,255,0.15);
  border: 1px solid rgba(255,255,255,0.25);
}

.week:first-of-type .day:first-of-type {
  margin-left: 42.85714%;
}

.week:last-of-type .day:last-of-type {
  margin-right: 14.285%;
}



// HEADER_FOOTER SECTION (index2.html) ##############

main {
  height: 100vh;
  width: 100%;

  background: linear-gradient(-55deg, #43A047, #FBC02D);

  display: flex;
  flex-direction: column;

  .section-header {
    background: -webkit-linear-gradient(125deg, #43A047, #FBC02D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .previous-button, .next-button {
    &:hover {
      border: 2px solid rgba(46,125,50,0.85);

      a {
        color: rgba(46,125,50,0.7);
      }
    }
  }
}

header, footer {
  @include flex-center;
  flex: 0 0 100px;

  background-color: rgba(255,255,255,0.05);

  section {
    width: 900px;
  }
}

.main-content {
  @include flex-center;
  flex: 1 1 0;
  flex-direction: column;

  border-top: 4px solid rgba(255,255,255,0.25);
  border-bottom: 4px solid rgba(255,255,255,0.25);
  margin-left: 0.5em;

  overflow: auto;
  -webkit-overflow-scrolling: touch;

  section {
    width: 900px;
    @include flex-center;
    flex-direction: column;
  }
}



// SECTION THREE - PHOTOS ###########
.container {
  width: 100%;

  // overflow: hidden;

  display: flex;
  flex-direction: column;

  .section-header {
    background: -webkit-linear-gradient(-90deg, #E0E0E0, #757575);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .previous-button, .next-button {
    border: 2px solid rgba(0,0,0,0.85);

    a {
      color: rgba(0,0,0,0.7);
    }
    &:hover {
      border: 2px solid rgba(255,255,255,0.85);
      background: rgba(0,0,0,0.85);

      a {
        color: rgba(255,255,255,0.9);
      }
    }
  }
}

.photos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  img {
    width: auto;
    height: 200px;
    margin: 5px;
    padding: 15px;
    border: 1.5px solid rgba(0,0,0,0.35);

    box-shadow: 3px 3px 2px #757575;
  }
}



// SCROLLBAR #####################

::-webkit-scrollbar {
  width: 0.5em;
  background-color: rgba(255,255,255,0.25);
  border-left: 1px solid rgba(255,255,255,0.25);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255,255,255,0.55);
}
