* {
  box-sizing: border-box; }

body {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0; }

.hyperlink-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: auto;
  position: absolute;
  top: 30px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.25);
  border: 2px solid rgba(255, 255, 255, 0.25);
  padding: 10px 15px;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }
  .hyperlink-button a {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-weight: 400;
    color: white;
    text-decoration: none; }
  .hyperlink-button:hover {
    background-color: rgba(255, 255, 255, 0.75);
    border: 2px solid rgba(230, 80, 5, 0.85);
    -webkit-transition: all 200ms ease-in;
    transition: all 200ms ease-in; }
    .hyperlink-button:hover a {
      color: rgba(230, 80, 5, 0.7);
      -webkit-transition: all 200ms ease-in;
      transition: all 200ms ease-in; }

.twelve-column-grid {
  padding: 50px 0;
  width: 100%;
  background: -webkit-linear-gradient(345deg, #CB1830, #E85500);
  background: linear-gradient(105deg, #CB1830, #E85500); }

section {
  max-width: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  section .section-header {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-weight: 700;
    text-align: center;
    background: -webkit-linear-gradient(90deg, #E85500, #CB1830);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 2px rgba(255, 255, 255, 0.15);
    -webkit-text-stroke: 1.5px rgba(255, 255, 255, 0.25);
    font-size: 3em;
    letter-spacing: 2px;
    margin: 10px auto;
    width: 80%; }
  section .column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 10px 5px;
    padding: 5px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.25);
    color: white;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0; }

.first-section .column:first-of-type {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-flex-shrink: 2;
      -ms-flex-negative: 2;
          flex-shrink: 2;
  -webkit-flex-basis: 99px;
      -ms-flex-preferred-size: 99px;
          flex-basis: 99px; }

.sixth-section .column:nth-of-type(2) {
  -webkit-box-flex: 4;
  -webkit-flex: 4 4 198px;
      -ms-flex: 4 4 198px;
          flex: 4 4 198px; }

.calendar {
  padding: 50px 0;
  width: 100%;
  background: -webkit-linear-gradient(165deg, #00796B, #1565C0);
  background: linear-gradient(-75deg, #00796B, #1565C0); }
  .calendar .section-header {
    background: -webkit-linear-gradient(105deg, #00796B, #1565C0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }

.month {
  max-width: 900px;
  margin: 10px auto; }

.week {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: white; }

.day {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  height: 130px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.25); }

.week:first-of-type .day:first-of-type {
  margin-left: 42.85714%; }

.week:last-of-type .day:last-of-type {
  margin-right: 14.285%; }

main {
  height: 100vh;
  width: 100%;
  background: -webkit-linear-gradient(145deg, #43A047, #FBC02D);
  background: linear-gradient(-55deg, #43A047, #FBC02D);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  main .section-header {
    background: -webkit-linear-gradient(125deg, #43A047, #FBC02D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  main .hyperlink-button:hover {
    border: 2px solid rgba(46, 125, 50, 0.85); }
    main .hyperlink-button:hover a {
      color: rgba(46, 125, 50, 0.7); }

header, footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100px;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  background-color: rgba(255, 255, 255, 0.05); }
  header section, footer section {
    width: 900px; }

.main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0;
          flex: 1 1 0;
  border-top: 4px solid rgba(255, 255, 255, 0.25);
  border-bottom: 4px solid rgba(255, 255, 255, 0.25); }
  .main-content section {
    width: 900px; }
