* {
  box-sizing: border-box; }

body {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0; }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .container.homepage {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto; }
  .container.twelve-column-grid {
    background: -webkit-linear-gradient(345deg, #CB1830, #E85500);
    background: linear-gradient(105deg, #CB1830, #E85500); }
  .container.calendar {
    background: -webkit-linear-gradient(165deg, #00796B, #1565C0);
    background: linear-gradient(-75deg, #00796B, #1565C0); }
  .container.header-footer {
    background: -webkit-linear-gradient(145deg, #43A047, #FBC02D);
    background: linear-gradient(-55deg, #43A047, #FBC02D); }

.button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px; }

.button-slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 60px;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 10px;
  left: 0;
  -webkit-transform: translateX(-60px);
          transform: translateX(-60px);
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in; }
  .button-slider:hover {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: all 300ms ease-in;
    transition: all 300ms ease-in; }

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: auto;
  padding: 10px 15px;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  margin: 10px; }
  .button a {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-weight: 400;
    text-decoration: none; }
  .button.style-index {
    background-color: rgba(255, 255, 255, 0.85);
    border: 2px solid rgba(0, 0, 0, 0.85); }
    .button.style-index a {
      color: rgba(0, 0, 0, 0.7); }
    .button.style-index:hover {
      border: 2px solid rgba(255, 255, 255, 0.85);
      background: rgba(0, 0, 0, 0.85);
      -webkit-transition: all 200ms ease-in;
      transition: all 200ms ease-in; }
      .button.style-index:hover a {
        color: rgba(255, 255, 255, 0.9);
        -webkit-transition: all 200ms ease-in;
        transition: all 200ms ease-in; }
  .button.style-home {
    width: 40px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.85);
    border: 2px solid rgba(0, 0, 0, 0.75);
    border-radius: 25%; }
    .button.style-home i {
      color: rgba(0, 0, 0, 0.6);
      font-size: 1em; }
    .button.style-home:hover {
      border: 2px solid rgba(0, 0, 0, 0.95);
      background: rgba(255, 255, 255, 0.95);
      -webkit-transition: all 200ms ease-in;
      transition: all 200ms ease-in; }
      .button.style-home:hover i {
        color: rgba(0, 0, 0, 0.95);
        -webkit-transition: all 200ms ease-in;
        transition: all 200ms ease-in; }

.previous-button {
  position: absolute;
  top: 30px;
  left: 20px; }

.next-button {
  position: absolute;
  top: 30px;
  right: 20px; }

.home-button, .previous-button, .next-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: auto;
  padding: 10px 15px;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }
  .home-button a, .previous-button a, .next-button a {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    font-weight: 400;
    text-decoration: none; }
  .home-button.style-one, .previous-button.style-one, .next-button.style-one {
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.25); }
    .home-button.style-one a, .previous-button.style-one a, .next-button.style-one a {
      color: white; }
    .home-button.style-one:hover, .previous-button.style-one:hover, .next-button.style-one:hover {
      background-color: rgba(255, 255, 255, 0.75);
      border: 2px solid rgba(230, 80, 5, 0.85);
      -webkit-transition: all 200ms ease-in;
      transition: all 200ms ease-in; }
      .home-button.style-one:hover a, .previous-button.style-one:hover a, .next-button.style-one:hover a {
        color: rgba(230, 80, 5, 0.7);
        -webkit-transition: all 200ms ease-in;
        transition: all 200ms ease-in; }
  .home-button.style-three, .previous-button.style-three, .next-button.style-three {
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.25); }
    .home-button.style-three a, .previous-button.style-three a, .next-button.style-three a {
      color: white; }
    .home-button.style-three:hover, .previous-button.style-three:hover, .next-button.style-three:hover {
      background-color: rgba(255, 255, 255, 0.75);
      border: 2px solid rgba(46, 125, 50, 0.85);
      -webkit-transition: all 200ms ease-in;
      transition: all 200ms ease-in; }
      .home-button.style-three:hover a, .previous-button.style-three:hover a, .next-button.style-three:hover a {
        color: rgba(46, 125, 50, 0.7);
        -webkit-transition: all 200ms ease-in;
        transition: all 200ms ease-in; }
  .home-button.style-four, .previous-button.style-four, .next-button.style-four {
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid rgba(0, 0, 0, 0.85); }
    .home-button.style-four a, .previous-button.style-four a, .next-button.style-four a {
      color: rgba(0, 0, 0, 0.7); }
    .home-button.style-four:hover, .previous-button.style-four:hover, .next-button.style-four:hover {
      border: 2px solid rgba(255, 255, 255, 0.85);
      background: rgba(0, 0, 0, 0.85);
      -webkit-transition: all 200ms ease-in;
      transition: all 200ms ease-in; }
      .home-button.style-four:hover a, .previous-button.style-four:hover a, .next-button.style-four:hover a {
        color: rgba(255, 255, 255, 0.9);
        -webkit-transition: all 200ms ease-in;
        transition: all 200ms ease-in; }

.section-header {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  font-weight: 700;
  text-align: center;
  font-size: 3em;
  letter-spacing: 2px;
  margin: 20px auto;
  width: 100%; }
  .section-header.style-one {
    background: -webkit-linear-gradient(90deg, #E85500, #CB1830);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 2px rgba(255, 255, 255, 0.15);
    -webkit-text-stroke: 1.5px rgba(255, 255, 255, 0.25); }
  .section-header.style-two {
    background: -webkit-linear-gradient(105deg, #00796B, #1565C0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 2px rgba(255, 255, 255, 0.15);
    -webkit-text-stroke: 1.5px rgba(255, 255, 255, 0.25); }
  .section-header.style-three {
    background: -webkit-linear-gradient(125deg, #43A047, #FBC02D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 2px rgba(255, 255, 255, 0.15);
    -webkit-text-stroke: 1.5px rgba(255, 255, 255, 0.25); }
  .section-header.style-four {
    background: -webkit-linear-gradient(-90deg, #E0E0E0, #757575);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 2px rgba(0, 0, 0, 0.15);
    -webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.25); }

.page-title {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 4em;
  margin-bottom: 20px; }

.intro {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 10px 50px; }
  .intro p {
    text-align: justify; }

#bottom-of-the-page {
  position: absolute;
  bottom: 20px;
  width: 50px;
  height: 50px;
  background-color: cyan; }

.twelve-column-grid section {
  width: 900px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.twelve-column-grid .column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 10px 5px;
  padding: 5px 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.25);
  color: white;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0; }

.twelve-column-grid .first-row .column:first-of-type {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-flex-shrink: 2;
      -ms-flex-negative: 2;
          flex-shrink: 2;
  -webkit-flex-basis: 99px;
      -ms-flex-preferred-size: 99px;
          flex-basis: 99px; }

.twelve-column-grid .sixth-row .column:nth-of-type(2) {
  -webkit-box-flex: 4;
  -webkit-flex: 4 4 198px;
      -ms-flex: 4 4 198px;
          flex: 4 4 198px; }

.calendar .month {
  width: 900px;
  margin: 10px auto; }

.calendar .week {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: white; }

.calendar .day {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  height: 130px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.25); }

.calendar .week:first-of-type .day:first-of-type {
  margin-left: 42.85714%; }

.calendar .week:last-of-type .day:last-of-type {
  margin-right: 14.285%; }

.header-footer header, .header-footer footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100px;
      -ms-flex: 0 0 100px;
          flex: 0 0 100px;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.05); }

.header-footer .main-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0;
          flex: 1 1 0;
  width: 100%;
  border-top: 4px solid rgba(255, 255, 255, 0.25);
  border-bottom: 4px solid rgba(255, 255, 255, 0.25);
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
  .header-footer .main-content .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .header-footer .main-content .section-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    width: 30.30303%;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 2%;
    margin: 5px;
    color: #fff; }
  .header-footer .main-content::-webkit-scrollbar {
    width: 0.5em;
    background-color: rgba(255, 255, 255, 0.25);
    border-left: 1px solid rgba(255, 255, 255, 0.25); }
  .header-footer .main-content::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.55); }

.photos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .photos img {
    width: auto;
    height: 200px;
    margin: 5px;
    padding: 15px;
    border: 1.5px solid rgba(0, 0, 0, 0.35);
    box-shadow: 3px 3px 2px #757575; }
